<h1>New late policy</h1>

<%= form_for @penalty_policy, :url => { :action => "create" } do |f| %>
  # <%= error_messages_for @penalty_policy %>

  <% unless @penalty_policy.errors.full_messages.any? { |message| message.include?("error with ") } %>
  <%= error_messages_for @penalty_policy %>
<% end %>

  <%= render partial: 'form', locals: { f: f } %>

  <%= f.submit 'Create' %>
<% end %>

<br>
<br>
# <%= link_to 'Crack', :controller=> 'assignments', :action => 'edit', :id=>session[:assignment]%>
<%= link_to 'Back', request.referer %>

